<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>page 92</h1>
<ul>
    <li th:each="dto, state : ${list}">
        [[${state.index}]] --- [[${dto}]]
    </li>
</ul>
<h1>page93</h1>
<ul>
    <li th:each="dto, state : ${list}" th:if="${dto.bno%5==0}">[[${dto}]]</li>
    <li th:each="dto, state : ${list}">
        <span th:if="${dto.bno %5==0}" th:text="${'-------------------------------'+dto.bno}"></span>
        <span th:unless="${dto.bno%5==0}" th:text="${dto.first}"></span>
    </li>
</ul>
<h1>page94</h1>
</body>
</html>